
footer{
    height: 167px;
    width: 100%;
    background-color: #1227a28f;
    display: grid;
    grid-template-rows: auto 1fr;
}
.github{
    width: 6.5rem;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 9rem;
    transition: 0.s;
    height: 5.5rem;
}
.github:hover{
    box-shadow: 
                inset 1px 1px 8px #e86e78;
                inset: 1px 1px 8px #569bd3;
    background-color: #e86e78;

}


.firstFooterSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.copySection{
    display: flex;
    justify-content: center;
}
img{
    width: 60px;
}